.section {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;

}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66vh;
}
.section2 {
    margin: auto;
}
.btn{
    margin:0 auto; 
}

.footer {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}
.footer-content{
    border-bottom: 1px solid rgba(153, 151, 151, 0.349);
}
.social-links a {
  margin: 0 10px;
  font-size: 20px;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav a {
    color: #fff;
  margin: 0 10px;
}

.house-card{
  cursor: pointer;
  transition-duration: .5s;
	transition-property: transform;
	&:hover {
		transform: scale(1.1);
	}
}


/*Style sell*/
.sell-card{
  border: 1px solid rgba(153, 151, 151, 0.349);
  cursor: pointer;
}
.sell-card {
  transition-duration: .5s;
	transition-property: transform;
  &:hover{
    .sell-card-content{
      background: #b9b8b815;
    }
  }
}

.error{
  color: tomato;
  text-align: center;
}
.error:before{
  display: inline;
  content: '⚠';
}