@tailwind base;
@tailwind components;
@tailwind utilities;




/*Responsive de l'appli*/

@media screen and (max-width: 768px) {
    .footer {
        width:100%;
        background-color: #004AAD;;
      }
      .social-links {
        width:70%;
        display: flex;
        justify-content: center;
      }
      .footer-content{
        width:50%;
      }
      .social-links a {
        margin: 0 10px;
        font-size: 20px;
      }
      .footer-nav {
        display: flex;
        justify-content: space-around;
      }
      
      .footer-nav a {
          color: #fff;
        margin: 0 10px;
      }
      .houseDetail{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .house-card{
        width:75%;
    }
}  





@media screen and (max-width : 768px){
    .sell-card{
        border: 1px solid rgba(153, 151, 151, 0.349);
        cursor: pointer;
        width: 80%;
        border-style: solid;
        border-radius: 1rem; 
      }
      .house-purchase-container {
        width:100%;
        display:flex;
        justify-content:center;
        flex-wrap: wrap;  
        
      
      }
}